.App {
  text-align: center;
  display: flex;
  background-color: #57665f;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10px 10px 10px;
  position: absolute;
  top: 0;
  left: 0;  
  min-height: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 84%; 
  column-gap: 95px;
  
}

 /* MEDIA QUERIES */
    /* Mobile */
    @media only screen and (min-width : 240px)  and (max-width : 600px) {
      .App {
        position: unset;
        background-color: #1c2026;
        padding: 10px 10px;
        padding-bottom: 61px;
      }

      .cards{
        row-gap: 37px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 601px) and (max-width : 992px){
      .App{
        padding: 40px 0px;
      }

      .cards{
        row-gap: 50px
      }
    }

 
 /* Medium Devices, Desktops */
 @media only screen and (min-width : 993px) and (max-width : 1200px){
    .cards {
        column-gap: 60px;
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1201px) and (max-width : 1268px){
  .cards {
       width: 100%;
  }
}
